legend p{color:#000;}
legend span{color:#000;}
table p{color:#000;}
table{border:1px solid #ccc;}
td{border:1px #ccc solid;}
.crtbtn_bl2{visibility:hidden;}
a{visibility:hidden;}
#wrapper {
-moz-box-shadow: nonel;
-webkit-box-shadow: none;
-khtml-box-shadow: none;
box-shadow: none;
background: white;
border:none;
}